# Diretórios e arquivos do sistema operacional
.DS_Store
Thumbs.db
 
# Arquivos de cache do Unity
Library/
Temp/
Obj/
 
# Arquivos de build
Build/
Builds/
 
# Arquivos de configuração de IDE
.vscode/
.idea/
 
# Arquivos de configuração de sistema de controle de versão
.git/
 
# Arquivos de pacotes Unity (caso use)
.unitypackage